<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">

<style>

body{
    margin:0;
    padding:0;
}

pre{
    font-family:"Courier New", monospace;
    font-size:14px;
    font-weight:bold;
    line-height:1.2;
    margin:0;
    padding:2mm;
    white-space:pre;
}

@media print{

    .action-bar{
        display:none !important;
    }

    @page{
        margin:0;
    }

    pre{
        font-size:14px;
    }
}

</style>


</head>

<body>

<div class="action-bar">
    <button onclick="window.print()">Print</button>
</div>

<pre>{{ bill_text }}</pre>

</body>
</html>